<div class="container mt-5">
    <div style="text-align: center;" *ngIf="!registerMode">
        <h1>Find Your Match!!!</h1>
        <div class="d-flex justify-content-center">
            <div id="heart"></div>
        </div>
        <div class="text-center mb-1">
            <button *ngIf="!loggedin" (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
        </div>
        <div *ngIf="!loggedin" class="alert alert-danger pb-0" style="text-align: left;">
            <p><strong>Important Notice!!! </strong>
                This web application serves as a demonstration and is not intended 
                for storing personal data. The database undergoes regular recycling on a monthly basis. 
                You have the option to create a new user, utilize one of the pre-existing user 
                profiles listed below, or use the username admin and password adminPa$$w0rd to login as admin.
            </p>
            <ul style="text-align: left;">
                <li>Username: lisa Password: Pa$$w0rd</li>
                <li>Username: lois Password: Pa$$w0rd</li>
                <li>Username: ruthie Password: Pa$$w0rd</li>
                <li>Username: todd Password: Pa$$w0rd</li>
                <li>Username: porter Password: Pa$$w0rd</li>
                <li>Username: peter Password: Pa$$w0rd</li>
            </ul>
        </div>
    </div>
    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-3 pb-5">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>
