<div class="sidebar-nav">
    <nav class="navbar navbar-dark bg-primary fixed-top">
        <div class="container ms-0">
            <!-- Mobile Menu Toggle Button -->
            <ng-container *ngIf="accountService.currentUser$ | async">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </ng-container>
            <ng-container *ngIf="!(accountService.currentUser$ | async)">
                <h1 class="text-light">Datebook</h1>
            </ng-container>

            <!-- Menus List -->
            <div class="offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-body">
                <h2 class="item-text">Datebook</h2>
                <hr/>
                    <ul class="navbar-nav">
                        <ng-container *ngIf="accountService.currentUser$ | async">
                            <li>
                                <a
                                    data-bs-toggle="offcanvas" 
                                    data-bs-target="#offcanvasNavbar" 
                                    aria-controls="offcanvasNavbar" 
                                    routerLink="/members" 
                                    [routerLinkActiveOptions]="{exact: true}"
                                    routerLinkActive="active"><span class="item-text">Matches</span>
                                </a>
                            </li>
                            <li>
                                <a 
                                    data-bs-toggle="offcanvas" 
                                    data-bs-target="#offcanvasNavbar" 
                                    aria-controls="offcanvasNavbar" 
                                    routerLink="/lists" 
                                    routerLinkActive="active"><span class="item-text">Likes</span>
                                </a>
                            </li>
                            <li>
                                <a 
                                    data-bs-toggle="offcanvas" 
                                    data-bs-target="#offcanvasNavbar" 
                                    aria-controls="offcanvasNavbar"
                                    routerLink="/messages" routerLinkActive="active"><span class="item-text">Messages</span>
                                </a>
                            </li>
                            <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
                                <a 
                                    data-bs-toggle="offcanvas" 
                                    data-bs-target="#offcanvasNavbar" 
                                    aria-controls="offcanvasNavbar"
                                    routerLink="/admin" routerLinkActive="active"><span class="item-text">Admin</span>
                                </a>
                            </li>
                        </ng-container>
                    </ul>
              </div>
            </div>
            <div class="dropdown" *ngIf="(accountService.currentUser$  | async) as user" dropdown>
                <img src="{{user.photoUrl || './assets/user.png'}}" alt="user photo" class="rounded-circle"/>
                <a class="dropdown-toggle text-light text-decoration-none ms-2" dropdownToggle>Welcome {{user.knownAs | titlecase}}</a>
                <div class="dropdown-menu mt-3" *dropdownMenu>
                    <a routerLink="/member/edit" class="dropdown-item">Edit Profile</a>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>
            <form *ngIf="!(accountService.currentUser$  | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
                <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text"
                    placeholder="Username">
                <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password"
                    placeholder="Password">
                <button class="btn btn-light" type="submit">Login</button>
            </form>    
        </div>  
    </nav>
</div>
